/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Row 1
                &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Z      &kp U      &kp I      &kp O      &kp P      &kp LBKT   &kp RBKT
                // Row 2
                &kp A      &kp S      &kp D      &kp F      &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT    &kp GRAVE
                // Row 3
                &kp Y      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp MINUS  &kp SLASH  &kp EQUAL
                // Thumbs
                &kp LGUI   &mo LOWER  &kp SPACE       &kp ENTER  &mo RAISE  &kp RALT
            >;
        };

        lower_layer {
            bindings = <
                // Row 1
                &kp ESC    &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
                // Row 2
                &kp TAB    &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PERC   &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp F12
                // Row 3
                &kp BSPC   &kp HOME   &kp UP     &kp END    &kp INS    &kp LEFT   &kp DOWN   &kp RIGHT  &kp DEL    &kp UNDER  &kp PLUS   &kp PIPE
                // Thumbs
                &kp LGUI   &trans     &trans          &trans     &trans     &kp RALT
            >;
        };

        raise_layer {
            bindings = <
                // Row 1
                &kp ESC    &kp 1      &kp 2      &kp 3      &kp 4      &kp 5      &kp 6      &kp 7      &kp 8      &kp 9      &kp 0      &kp BSPC
                // Row 2
                &kp TAB    &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PERC   &kp CARET  &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp ENTER
                // Row 3
                &kp BSPC   &kp HOME   &kp UP     &kp END    &kp INS    &kp LEFT   &kp DOWN   &kp RIGHT  &kp DEL    &kp UNDER  &kp PLUS   &kp PIPE
                // Thumbs
                &kp LGUI   &trans     &trans          &trans     &trans     &kp RALT
            >;
        };
    };
};
